venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.git/
.gitignore
.DS_Store
notebooks/
*.ipynb
README.md
docs/
tests/
scripts/
ML_Project_Challenge_Instructions.pdf
phData.png
start_local.sh
data/kc_house_data.csv
data/future_unseen_examples.csv
